<!DOCTYPE html>
<html>

<head>
    <title>DSA Würfel Tool</title>
    <script src="vue.js"></script>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.5">
</head>

<body>
<div id="app">
    <h1>DSA Würfel Tool</h1>

    <h2>Attribute</h2>
    <ul>
        <li v-for="attribute in myAttributes">
          {{ attribute.name }}: {{ attribute.value }}
        </li>
    </ul>

    <h2>Fertigkeiten</h2>  
    <ul>
        <li v-for="(skill, skillID) in skills">
            <button v-on:click="rollSkill(skillID)">
                {{ skill.name }} ({{ skill.attributes[0] }}/{{ skill.attributes[1] }}/{{ skill.attributes[2] }}) - {{ skill.value }} 
            </button>
        </li>
    </ul>

    <h2>Ergebnis:</h2>
    <div v-html="logs"></div>
</div>
<footer>
    <a href="https://github.com/julia-r/dsa-roll">Auf Github</a>
</footer>
<script src="script.js"></script>
</body>

</html>
